@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, p{
    font-family: 'Poppins', sans-serif;
}

/* -------- HEADER -------- */

.responsive-header{
    display: none;
}

header{
    background-color:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    /* overflow: hidden;
    position: fixed;
    width: 100%; */
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: white;
    width: 200px;
}

.navbar{
    margin-right: 13%;
    margin-left: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-nav{
    text-decoration: none;
    text-align: center;
    color: rgb(3, 0, 67);
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.btn-zap {
    border-radius: 5px;
    padding: 10px;
    background-color: #12a119;
    color: #d9eaee;
    border: solid rgba(4, 99, 11, 0) 2px;
    align-items: center;
    border-radius: 20px;
}

.wpp-icon-header{
    margin-bottom: -2px;
    
}

.btn-zap:hover {
    transition: 500ms;
    background-color: #3eb744;
    /* border: solid rgb(0, 0, 0) 2px; */
}

/* RESPONSIVE HEADER */

@media only screen and (max-width: 768px) {
    header{
        display: none;
    }

    .marginbtnresponsive{
        margin-left: 3%;
        margin-right: 3%;
    }

    .responsive-header{
        display: block;
        background-color:#ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .box-btn-header{
        display: flex;
        justify-content: space-between;
    }

    .btn-header-responsive{
        font-family: 'Poppins', sans-serif;
        color: rgb(3, 0, 67);
        font-size: 30px;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    .responsive-options {
        font-size: 38px;
        display: none;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        align-items: center;

    }

    .responsive-options.show {
        display: flex;
    }

    .responsive-options .btn-nav {
        margin-bottom: 10px;
    }

    .responseBTN{
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #0000001c;
        border-bottom: solid 2px black;
    }

    .consultaResponsive{
        border: none;
        border-radius: 10px;
        background-color: #00ac25;

        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
    }
}
/* ----------- BANNER ----------- */

.banner {
    background-image: url('img/background3banner.png');
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%; 
    display: flex;
    background-repeat: no-repeat;
    background-size: cover; 
    color: rgb(230, 230, 230);
    justify-content: center;
    align-items: center; 
    
  }

  

.callToAction{
    margin-left: 13%;
    margin-right: 0%;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-size: 20px;
    
}

.nutriIMG{
    margin-right: 13%;
}

.btn-CTA{
    margin-top:40px;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    box-shadow: -2px 0px 10px 5px rgba(255, 255, 255, 0.2);

    border-radius: 15px;
    border: solid 2px white;
}

.btn-CTA:hover{
    background-color: rgb(48, 168, 211);
    transition: 500ms;
}

.h1-CTA {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.p-CTA{
    margin-bottom: 10px;
}

/* ----- BANNER RESPONSIVO ----- */
    @media only screen and (max-width: 768px){
        .banner {
            background-image: url('img/background3banner.png');
            width: 100%;
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px; 
            display: flex;
            background-repeat: no-repeat;
            background-size: cover; 
            color: rgb(230, 230, 230);
            justify-content: center;
            align-items: center; 
            
          }
        
          
        
        .callToAction{
            margin-left: 3%;
            margin-right: 3%;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            font-size: 20px;
            
        }
        
        .nutriIMG{
            display: none;

        }
        
        .btn-CTA{
            margin-top:40px;
            padding: 10px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 18px;
        
            border-radius: 15px;
            border: solid 2px white;
        }
        
        .btn-CTA:hover{
            background-color: rgb(48, 168, 211);
            transition: 500ms;
        }
        
        .h1-CTA {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
        }
        
        .p-CTA{
            margin-bottom: 10px;
        }
    }

/* ---------- CONTENT 1 ---------- */

.content1{
    background: linear-gradient(to right, rgb(0, 46, 84), rgb(44, 141, 211));
    background-color: rgb(239, 239, 239) ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sobredr{
    margin-left: 13%;
    margin-right: 13%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(5, 0, 0, 0.15);
}

.h1trabalho{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    text-align: left;
    color: #1c1c1c;
    margin-bottom: 20px;

    margin-left: 20px;
}

.ptrabalho{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: left;
    color: #1c1c1c;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.img-sobre{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.fotoNutriSobre{
    width: 150px;
    border-radius: 150px;
}

/* CONTENT1 RESPONSIVO */

@media only screen and (max-width: 768px){
    .content1{
        /* background: linear-gradient(to right, rgb(0, 81, 148), rgb(44, 141, 211)); */
    }
    .sobredr{
        margin-left: 3%;
        margin-right: 3%;
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 2px 6px rgba(5, 0, 0, 0.15);
    }

    .h1trabalho{
        font-family: 'Poppins', sans-serif;
        font-size: 23px;
        text-align: left;
        color: #1c1c1c;
        margin-bottom: 20px;
    
        margin-left: 20px;
    }

    .ptrabalho{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: left;
        color: #1c1c1c;
        margin-bottom: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .img-sobre{
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    
    }
    
    .fotoNutriSobre{
        width: 100px;
        border-radius: 150px;
    }

}

/* --------- FEEDBACK --------- */

.content-feedback{
    background: linear-gradient(to right, rgb(0, 46, 84), rgb(44, 141, 211));
    
}

.feedback-title{
    padding-top: 15px;
    padding-bottom: 10px;
    margin-right: 13%;
    margin-left: 13%;
    text-align: center;
    color: #ffffff;
}

.feedback-content-margin{
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    justify-content: center;
}

.box-feedback{
    background-color: #ffffff1e;
    box-shadow: -2px 0px 10px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    width: 25%;
    border-radius: 20px;
    padding: 10px;
    
}
.img-feedback{
    width: 100%;
    border-radius: 20px;
}

.h1-box-feedback{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
}

.p-box-feedback{
    color: #ffffff;
    text-align: center;
}

.btn-feedback-area{
    
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
    margin-top: 10px;
    
}
.btn-feedback{
    
    padding: 10px;
    background-color: #ffffff00;
    
    border: solid 2px white;
    border-radius: 30px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;

}

.wpp-btn{
    color: #ffffff;
    border: none;
    background-color: #00bc29;
}

.wpp-btn:hover{
    transition: 500ms;
    box-shadow: -2px 0px 10px 5px rgba(182, 255, 148, 0.2);
    background-color: #2bea54;
}

@media only screen and (max-width: 768px){

    .content-feedback{
        /* background: linear-gradient(to right, rgb(0, 46, 84), rgb(44, 141, 211)); */
        padding: 10px;
    }

    .feedback-content-margin{
        margin-left: 3%;
        margin-right: 3%;
        display: block;
    }

    .box-feedback{
        background-color: #ffffff1e;
        box-shadow: -2px 0px 10px 5px rgba(0, 0, 0, 0.2);
        margin: 5px;
        width: 100%;
        border-radius: 20px;
        padding: 10px;
        margin-top: 20px;
        
    }

    .img-feedback{
        width: 100%;
        border-radius: 20px;
    }

    .h1-box-feedback{
        color: #ffffff;
        text-align: center;
        font-size: 22px;
        margin-bottom: 0px;
    }
}
/* ---------- CONTENT2 ----------- */



.content2{
    background: linear-gradient(to right, rgb(0, 46, 84), rgb(44, 141, 211));
    padding-top: 20px;
    padding-bottom: 20px;
}

.area-endereco{
    font-family: 'Poppins', sans-serif;
    margin-left: 13%;
    margin-right: 13%;
    padding-bottom: 20px;
}

.box-endereco{
    font-family: 'Poppins', sans-serif;
}

.box-mapa-endereco{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.mapaGoogle-box{
    padding: 10px;
    background-color: #d9eaee;
    width: 100%;
    height: 435px;
    border-radius: 20px;
}

.mapaGoogle{
    border-radius: 20px;
    width: 300px;
    height: 300px;
    box-shadow: -2px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.p-endereco-maps{
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

.btn-maps-wpp{
    background-color: #00ac25;
    margin-top: 10px;
    color: #d9eaee;
    padding: 15px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
}

.btn-maps-wpp:hover{
    background-color: #01de31;
    transition: 500ms;
}

.center-btn{
    display: flex;
    justify-content: center;
}

.h1-endereco{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.p-endereco{
    margin-left: 20px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: left;
}

@media only screen and (max-width: 768px){
    .content2{
        /* background: linear-gradient(to right, rgb(0, 81, 148), rgb(44, 141, 211)); */
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .area-endereco{
        font-family: 'Poppins', sans-serif;
        margin-left: 3%;
        margin-right: 3%;
    
    }

    .box-mapa-endereco{
        display: inline;
        align-items: center;
        margin-top: 20px;
        justify-content: center;
    }

    .mapaGoogle{
        border-radius: 20px;
        width: 100%;
        height: 300px;
        box-shadow: -2px 0px 10px 5px rgba(0, 0, 0, 0.2);
        
    }

    .h1-endereco{
        font-size: 32px;
        color: rgb(255, 255, 255);
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .p-endereco{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 22px;
        color: rgb(255, 255, 255);
        text-align: left;
    }
}

/* ------- FOOTER ------ */

footer{
    background-color: #d9eaee;
    padding-top: 40px;
    padding-bottom: 40px;
}

.redessociais{
    display: flex;
}

.img-rede-social{
    margin-right: 20px;
}

.content-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    align-items: center;
}

.pfooter {
    font-size: 18px;
}

.feitopor{
    padding: 20px;
    text-align: center;
    align-items: center;
    background-color: #d9eaee;

    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

@media only screen and (max-width: 768px){
    .content-footer{
        display: flex;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
        align-items: center;
    }

    .redessociais{
        display: inline;
    }

    .img-rede-social{
        margin-right: 20px;
        width: 60px;
        margin-bottom: 20px;
    }

    .feitopor{
        padding: 20px;
        text-align: center;
        align-items: center;
        background-color: #d9eaee;
    
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
    }
}
